@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;

  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --back: "../images/hero/pexels-quang-nguyen-vinh-2518893.jpg";
  --bg-color: #f3f3f3;
  --text-color: #333;
  --black-text: #495057;
  --ligth-black: #868e96;
  --main-color: #2eca43;
  --hero-section: #06b81d;
  --box-background: #179733a2;
  --white-color: #f3f3f3;
  --paragraph-color: #495057;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

header div img {
  filter: brightness(0) invert(1);

  /* filter: contrast(0%); */
  /* filter: brightness(0%); */
}

.hero-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top:rem; */
  position: relative;
}

.hero-container .hero-img {
  width: 100%;
}

.hero-img img {
  width: 100%;
  background-image: linear-gradient(30deg, #295f3294, #2a422a7e),
    url("../images/background/10.png");
  height: 70rem;
  object-fit: cover;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  bottom: 16px;
  left: 12px;
}

.hero-heading {
  color: #22f191;
  background-image: linear-gradient(
    43deg,
    #53d464 0%,
    #3eb994 46%,
    #b3ff74 100%
  );
  font-weight: 800;
  width: 80%;
  height: 23rem;
  line-height: 1;
  margin-bottom: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
}

.hero-heading span {
  font-size: 11rem;
  background-image: linear-gradient(
    120deg,
    #53d464 0%,
    #3eb994 46%,
    #b3ff74 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text h2 {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(199, 228, 205);
}
.ctn {
  margin-top: 2rem;
}

.ctn h3:last-child {
  color: rgb(245, 121, 121);
}

.ctn .icon-dash i {
  color: white;
}
/* 
.btn-container-1{
    margin: 0.3rem 2rem 2rem 3rem;
    width: 90%;
    
    align-items: center;
    /* overflow: hidden; */

/* .btn-container-1::-webkit-scrollbar{
    width: 0;
}

.btn-container-1 .btn{
    padding: 1rem 4rem 1rem 4rem ;
    margin: 2rem 5rem 2rem 2rem;

    font-size: 1.3rem;
} */

.account {
  margin-bottom: 2rem;
}

.account figure {
  display: flex;
}

.account figure aside {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.account figure img {
  width: 3rem;
  height: 3rem;
  filter: none;
  border-radius: 100%;
  cursor: pointer;
}

.account aside div i {
  font-size: 2rem;
}

.acc {
  font-size: 3rem;
  color: var(--hero-section);
  cursor: pointer;
}

.sem-acc {
  color: var(--ligth-black);
  font-size: 1.6rem;

  transition: all 0.3s;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.sem-acc:hover {
  color: #424242;
  cursor: pointer;
}

.filter-heading {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.filter-heading i {
  font-size: 2rem;
  cursor: pointer;
}

.dashboard {
  margin-bottom: 2rem;
  cursor: pointer;
}

/* botton hero */
/* ############ */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 3rem 2rem 3rem 2rem; */
}

.back {
  padding-top: 3rem;
  padding-bottom: 0.3rem;
  /* box-shadow: 1px 0.3px 16px rgba(0, 0, 0, 0.3); */
}

.btn-container-1 {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  gap: 10px;
}

.btn-container-1 .btn {
  width: 23rem;
  height: 5.4rem;
  border-radius: 60px;
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
  background-color: #50ce61;
  color: var(--bg-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-container-1 .btn:hover {
  background-color: #2e883a;
}

/* secondary-container */
/* ################### */

.secondary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

/* .image-back{
    border-radius: 3rem;
    width: 65%;
    height: 64rem;
    background-image: 
    linear-gradient(-90deg,#010a02, #022502a4),
    url(' https://images.unsplash.com/photo-1603048719539-9ecb4aa395e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1484&q=80');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;

} */

.offer-text {
  padding: 1rem 4rem 0rem 0rem;
  text-align: end;
  justify-self: end;
  width: 100%;
  grid-column: 2/3;
}

.ecc {
  color: rgb(14, 78, 5);
  font-size: 3rem;
  font-weight: 800;

  text-align: end;
  line-height: 1;
}

.ecc span {
  font-size: 8rem;
}

.semi-acc {
  font-size: 3rem;
  color: rgb(21, 81, 16);
  width: 100rem;
}

.avg {
  /* display: none; */
  margin-top: 0.5rem;
  display: grid;
  margin-left: -3rem;
  color: #ffffff;
  width: 57rem;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}

.avg li {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.avg li:hover {
  transform: scale(1.01);
}

.sale-heading div {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  /* width: 50%; */

  color: rgb(97, 97, 97);
  font-size: 1.3rem;
}

.sale-heading div h5 {
  text-align: end;
  font-size: 1.5rem;
  margin-right: -9rem;
  color: #ffffff;
  width: 50rem;
}

.image-back .none {
  text-decoration: transparent;
}
.sale-heading div a {
  font-weight: 500;
  transition: all 0.3s;
}
.sale-heading div a:hover {
  color: #e9e9e9;
}

.sale-heading h6 {
  color: #0f7a1d;

  font-size: 2rem;
}

.btn-sale {
  width: 40rem;
  margin-top: 3rem;
}

.btn-sale button {
  width: 100%;
  height: 4.5rem;

  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  color: #707070;
  transition: all 0.4s;
}

.btn-sale button:nth-child(1) {
  background-color: var(--hero-section);
  color: white;
}

.btn-sale button:nth-child(1):hover {
  background-color: #0f7a1d;
}

.btn-sale button:nth-child(2):hover {
  background-color: #a5a4a4;
}

.sale-heading aside {
  gap: 3rem;
  /* display: grid !important;
    grid-template-columns: repeat(2,1fr); */
  display: flex;

  align-items: center;
  justify-content: center;
}

.secondary-heading {
  font-size: 7rem;
  font-weight: 800;
  color: var(--hero-section);
}

/* products  */
/* ######### */

.third-container {
  width: 100%;
  flex-direction: column;
  /* margin: 20rem 4rem 20rem 4rem; */
}

.third-container h2 {
  font-size: 4rem;
  align-self: flex-start;

  margin-left: 5rem;
  margin-bottom: 3rem;
}

.list-product {
  width: 100%;
  background-color: #e2e4e2;
  padding: 2rem 0 2rem 0;
  overflow: hidden;
  margin-bottom: 4rem;
  position: relative;
}

.list-product aside {
  display: flex;

  overflow-x: auto;
}

.list-product aside::-webkit-scrollbar {
  position: absolute;
  top: 0;
  left: 0;
}

.list-product .aside-bar {
  padding-left: 3rem;

  gap: 2rem;
}
.list-product .aside-bar {
  text-decoration: none;
}
.product {
  width: 30rem;
  background-color: #f1f1f1;
  border-radius: 20px;
  border: 1px solid #06b81d;
  overflow: hidden;
}

.product img {
  width: 100%;
}

.partical {
  padding: 0 0 2rem 3rem;
}
.partical h3 {
  font-size: 2rem;
  color: var(--hero-section);
}
.partical .price {
  font-size: 1.5rem;
  color: #5bcf25;
  font-weight: 600;
}

.partical .price span {
  font-size: 1rem;
  color: var(--hero-section);
}

.list-btn {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.list-btn button {
  /* margin-right: 2rem; */
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  transition: all 0.5s;
}

.list-btn button:nth-child(1) {
  background-color: #06c71f;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  color: white;
  font-weight: 500;
}

.list-btn button:nth-child(2) {
  background-color: #b3c5ad;
  color: white;
}

.list-btn button:nth-child(1):hover {
  background-color: #0b9e1f;
  color: white;
  font-weight: 500;
}

.list-btn button:nth-child(2):hover {
  background-color: #95b38b;
  color: white;
}

.cereales-container {
  margin: 20rem;
}
